<footer>
  <div class="social">
    <a href="https://www.youtube.com/channel/UCZjELfp6ZfOi1suu_4iV9Vg" target="_blank">
    <img src="/Buttons/youtube_normal.png" alt="Nuking Moose Youtube Channel">
    </a>
    <a href="https://www.facebook.com/nkmbremen/" target="_blank">
    <img src="/Buttons/facebook_normal.png" alt="Nuking Moose Facebook Profil">
    </a>
    <a href="https://open.spotify.com/intl-de/artist/5abMFmh4tDAdhEGsExLxjr?si=fmMXqLK-S9KwzuSD3HO6xA" target="_blank">
    <img src="/Buttons/spotify_normal.png" alt="Nuking Moose Spotify Künstler Seite">
    </a>
    <a href="https://www.instagram.com/nukingmoose/" target="_blank">
    <img src="/Buttons/instagram_normal.png" alt="Nuking Moose Instagram Profil">
    </a>
  </div>

  <nav>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <h3>Home</h3>
      </a>

      <a routerLink="/media" routerLinkActive="active">
        <h3>Media</h3>
      </a>

      <a routerLink="/live" routerLinkActive="active">
        <h3>Live</h3>
      </a>

<!--      <a routerLink="/merch" routerLinkActive="active">-->
<!--        <h3>Merch</h3>-->
<!--      </a>-->

<!--      <a routerLink="/press" routerLinkActive="active">-->
<!--        <h3>Press</h3>-->
<!--      </a>-->

      <a routerLink="/contact" routerLinkActive="active">
        <h3>Contact</h3>
      </a>
  </nav>

</footer>
