<footer>
  <div class="social">
    <img src="/Buttons/youtube_normal.png" alt="Youtube">

    <img src="/Buttons/facebook_normal.png" alt="Facebook">

    <img src="/Buttons/spotify_normal.png" alt="Spotify">

    <img src="/Buttons/instagram_normal.png" alt="Instagram">
  </div>

  <nav>
      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <h3>Home</h3>
      </a>

      <a routerLink="/media" routerLinkActive="active">
        <h3>Media</h3>
      </a>

      <a routerLink="/live" routerLinkActive="active">
        <h3>Live</h3>
      </a>

      <a routerLink="/merch" routerLinkActive="active">
        <h3>Merch</h3>
      </a>

      <a routerLink="/press" routerLinkActive="active">
        <h3>Press</h3>
      </a>

      <a routerLink="/contact" routerLinkActive="active">
        <h3>Contact</h3>
      </a>
  </nav>

</footer>
