<div>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="input-full-width">
      <mat-label>NAME</mat-label>
      <input matInput value="NAME" name="name" [(ngModel)]="model.name" required>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <mat-label>EMAIL</mat-label>
      <input matInput value="EMAIL" name="email" [(ngModel)]="model.email" required>
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <p>
      <mat-form-field class="input-full-width">
        <mat-label>MESSAGE</mat-label>
        <textarea matInput value="MESSAGE" name="email" [(ngModel)]="model.message" required></textarea>
      </mat-form-field>
    </p>

    <button class="button" type="submit" [disabled]="!contactForm.valid">
      SUBMIT
    </button>

    @if (status === 'success') {
      <p class="">Message send</p>
    }
    @if (status === 'error') {
      <p class="">Error</p>
    }

  </form>

</div>
