<div>

<form #contactForm="ngForm" (ngSubmit)="onSubmit()">
    <label>
      Name
      <input type="text" name="name" [(ngModel)]="model.name" required>
    </label>

    <label>
      E-Mail
      <input type="email" name="email" [(ngModel)]="model.email" required
      email>
    </label>

    <label>
      Message
      <textarea name="message" [(ngModel)]="model.message" required></textarea>
    </label>

  <button type="submit" [disabled]="!contactForm.valid">
      Absenden
    </button>

  @if (status === 'success') {
    <p class="snackbar">Nachricht gesendet</p>
  }
  @if (status === 'error') {
    <p class="snackbar">Fehler beim Senden</p>
  }
  </form>

</div>
