<div class="press-kit-container">
  <button class="button" matButton="outlined" (click)="download('fullPressKit')">Download Full Presskit</button>
  <button class="button" matButton="outlined" (click)="download('bandLogo')">Download Band Logo</button>
  <button class="button" matButton="outlined" (click)="download('bandPictures')">Download Band Pictures</button>
  <button class="button" matButton="outlined" (click)="download('biography')"disabled>Download Biography</button>
  <button class="button" matButton="outlined" (click)="download('stageAndTechrider')" disabled>Download Stage & Techrider</button>
</div>
