<div class="press-kit-container">
  <div class="press-kit-buttons">
  <button class="button" matButton="outlined" (click)="download('fullPressKit')">Presskit</button>
  <button class="button" matButton="outlined" (click)="download('bandLogo')">Logo</button>
  <button class="button" matButton="outlined" (click)="download('bandPictures')">Pictures</button>
  <button class="button" matButton="outlined" (click)="download('stageAndTechrider')">Stage & Techrider</button>
  </div>
  <div>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title><b>Presstext German</b></mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Melodic Death Metal mit Metalcore- und Doom-Einflüssen und weiblichen Vocals. Da fällt es schwer Vergleiche zu
        finden. Seit 2013 fahren Nuking Moose ihre Mischung aus alledem und machen dabei etwas, was am ehesten zwischen
        The Agonist und Jinjer zuhause ist.
      </p>
      <p>
        Unten mauern Siebensaiter und Bass ein Fundament, oben schnörkelt die zweite Gitarre sphärische Akzente und
        Melodieführungen, die jeden Song auch instrumental zum Unikat machen. Die Cleanparts, die fester Bestandteil des
        Songwritings von Nuking Moose sind, sorgen dabei für einen Dynamikumfang über dem Genredurchschnitt.
      </p>
      <p>
        Das alles bekommt endgültig etwas sehr Eigenes durch die charismatische Sängerin, die unglaublich
        abwechslungsreiche Gesangslinien über das Instrumentenbett legt. Bei mächtigen Jinjer-Growls ist sie ebenso
        zuhause wie bei melodiösen In-Flames-Hooks. Warme, tiefe Passagen singt sie genauso glaubwürdig wie
        elfengleiche hohe Linien.
      </p>
      <p>
        Die Band bleibt nicht nur akustisch im Kopf. Die energiegeladene Show der fünfköpfigen Band ist es wert, die
        Songs nicht nur auf der Platte zu hören.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title><b>Presstext English</b></mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Melodic death metal with metalcore and doom influences and female vocals. It's hard to find comparisons.<br/>
        Since 2013, Nuking Moose have been crafting their blend of all these elements, creating something that most
        closely resembles The Agonist and Jinjer.
      </p>
      <p>
        The seven-string guitar and bass lay down a solid foundation, while the second guitar adds ethereal accents and
        melodic lines that make each song instrumentally unique. The clean parts, an integral part of Nuking Moose's
        songwriting, provide a dynamic range above the genre average.
      </p>
      <p>
        All of this is ultimately given a very distinctive character by the charismatic singer, who lays incredibly
        diverse vocal lines over the instrumental backdrop. She is equally at home with powerful Jinjer-style growls and
        melodic In Flames-esque hooks. She sings warm, deep passages just as convincingly as ethereal high lines.
      </p>
      <p>
        The band's sound isn't just acoustic. The energetic show by the five-member band makes it worthwhile to listen
        to the songs not just on the record.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
</div>
