.gigDate {
  font-size: calc(8px + 2vmin);
  font-weight: 300;
  text-transform: uppercase;
  word-break: break-all;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

.gigDate:hover {
  cursor: pointer;
  color: var(--color-text-light);
}
