.gigDate {
  font-size: calc(8px + 1.5vmin);
  padding: calc(2px + 1vmin);
  font-weight: 300;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

.gigDate:hover {
  cursor: pointer;
  color: var(--color-secondary);
}
