<div>
  <h2>Videos</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/VSrxCnwNSqY?si=kB7-AM2kAWAYhS50"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/LMPcA9kQ6jw?si=4GcZ61V1BByqlpOh"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/JZ5XT8FcaX4?si=TkTyHl7EeUhMlHWF"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/liE-5nkEhMw?si=9DKPgsdZmPj9No8r"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
</div>
