burger-nav .is-phone-portrait{
  margin: 0;
  padding: 0;
}

.bottom-container {
  position: sticky;
  bottom: 10px;
  width: 100%;
  z-index: 9000;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;

  min-height:77vh;
  margin-top: 5vh;
}

.fade-out {
  mask-image: linear-gradient(to bottom, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent);
}
