.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social img{
  height: 40px;
  padding: 0 5px;
}

.social img:hover {
  filter: brightness(0) saturate(100%) invert(88%) sepia(1%) saturate(400%) hue-rotate(10deg);
}
