<div class="social">
  <a href="https://www.youtube.com/channel/UCZjELfp6ZfOi1suu_4iV9Vg" target="_blank">
    <img src="/Buttons/Youtube.png" alt="Nuking Moose Youtube Channel">
  </a>
  <a href="https://www.facebook.com/nkmbremen/" target="_blank">
    <img src="/Buttons/Facebook.png" alt="Nuking Moose Facebook Profile">
  </a>
  <a href="https://open.spotify.com/intl-de/artist/5abMFmh4tDAdhEGsExLxjr?si=fmMXqLK-S9KwzuSD3HO6xA" target="_blank">
    <img src="/Buttons/Spotify.png" alt="Nuking Moose Spotify Künstler Page">
  </a>
  <a href="https://www.instagram.com/nukingmoose/" target="_blank">
    <img src="/Buttons/Instagram.png" alt="Nuking Moose Instagram Profile">
  </a>
</div>
