/* Base */

:root {
  --font-base: 'Libre Baskerville', serif;
  --font-heading: 'Libre Baskerville', serif;
}

.libre-baskerville-main-font {
                      font-family: "Libre Baskerville", serif;
                      font-optical-sizing: auto;
                      font-weight: 400;
                      font-style: normal;
                    }

body {
  font-family: var(--font-base), 'sans-serif';
  font-size: var(--font-heading);
  color: #806559;
}

/* Ueberschriften */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), 'serif';
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  margin: 0.5em 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }

/* Buttons */
.button {
  color: #806559;
  background: none;
  border: 1px solid #806559;
  margin: 10px auto;
}

/* Links */

a {
  color: var(--font-heading);
  text-decoration: none; }

nav a.active, a:hover, .button:hover{
  color: #998992;
}

/* Main Content */

.main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  text-align: center;
  padding: 2rem;
  margin-top: 10vh;

}

/* Background-Image */

.bg-home, .bg-default {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-home {
  background-image: url("/bg-home.jpg");
}

.bg-default {
  background-image: url("/bg-default.jpg");
}
